header {
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 50;
    @media screen and (max-width: 960px) {
        height: 60px;
        &.active {
            .menu-button span {
                background-color: #333;
                &:nth-child(1) {
                    transform: rotate(45deg);
                    top: 50%;
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg);
                    top: 50%;
                }
            }
            .nav-sp {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .header-inner {
        background-color: #fff;
        max-width: 1260px;
        padding-inline: 6%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin: 0 auto;
        @media screen and (max-width: 960px) {
            padding-inline: 3%;
        }
    }
    h1.site-logo {
        width: 75px;
        z-index: 200;

        img {
            width: 100%;
        }
        a {
            display: inline-block;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    .nav-pc {
        @media screen and (max-width: 960px) {
            display: none;
        }
        ul {
            display: flex;
            align-items: center;
            li {
                &:nth-child(n+2) {
                    margin-left: 60px;
                }
                a {
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
    .menu-button {
        display: none;
        @media screen and (max-width: 960px) {
            display: block;
            position: relative;
            width: 25px;
            height: 15px;
            cursor: pointer;
            z-index: 200;
            span {
                display: block;
                width: 100%;
                height: 1px;
                background-color: #579BB1;
                position: absolute;
                left: 0;
                right: 0;
                transition: 0.3s;
                &:nth-child(1) {
                    top: 0;
                }
                &:nth-child(2) {
                    top: 50%;
                }
                &:nth-child(3) {
                    bottom: 0;
                }
                &.open {
                    background-color: #333;
                }
            }
        }
    }
    .nav-sp {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease, visibility 0.5s ease;
        text-align: center;
        width: 100%;
        height: 100vh;
        background-color: #ECE8DD;
        padding-top: 80px;
        font-size: 1rem;
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        li {
            margin-bottom: 40px;
            a {
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}